<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="log_home" value="logs" />
    <property name="pjName" value="xiaot"></property>
    <property name="FILE_LOG_PATTERN" value="%date %level [%thread] %logger{50} [%file:%line] %msg%n"></property>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_home}/xiaot.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_home}/xiaot-%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="xiaot_sensitive" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_home}/xiaot_sensitive.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_home}/xiaot_sensitive-%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="inAndOut" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_home}/inAndOut.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_home}/inAndOut-%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--这个包下的log都打印-->
    <logger name="org.springframework" level="info"/>
    <!--<logger name="cn.hkfdt.xiaot" level="info"/>-->

    <!--不向上打印 additivity="false" 认为敏感日志单独一份，但root日志有汇总-->
    <logger name="xiaot_sensitive" level="info">
        <appender-ref ref="xiaot_sensitive"/>
    </logger>

    <logger name="inAndOut" level="info">
        <appender-ref ref="inAndOut"/>
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING"/>
    </root>
</configuration>
