<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hkfdt.webserver.im.xiaot.mapper.ForceAnalysisMapper" >
  <resultMap id="BaseResultMap" type="cn.hkfdt.webserver.im.xiaot.model.ForceAnalysis" >
    <id column="forceId" property="forceId" jdbcType="INTEGER" />
    <result column="fdtScore" property="fdtScore" jdbcType="REAL" />
    <result column="fdtId" property="fdtId" jdbcType="VARCHAR" />
    <result column="tradeCount" property="tradeCount" jdbcType="INTEGER" />
    <result column="winCount" property="winCount" jdbcType="INTEGER" />
    <result column="maxDrawdown" property="maxDrawdown" jdbcType="REAL" />
    <result column="sharpeRatio" property="sharpeRatio" jdbcType="REAL" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="BIGINT" />
    <result column="accumulatedIncome" property="accumulatedIncome" jdbcType="REAL" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    forceId, fdtScore, fdtId, tradeCount, winCount, maxDrawdown, sharpeRatio, type, createTime, 
    accumulatedIncome, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xiaot_force_analysis
    where forceId = #{forceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xiaot_force_analysis
    where forceId = #{forceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.hkfdt.webserver.im.xiaot.model.ForceAnalysis" >
    insert into xiaot_force_analysis (forceId, fdtScore, fdtId, 
      tradeCount, winCount, maxDrawdown, 
      sharpeRatio, type, createTime, 
      accumulatedIncome, version)
    values (#{forceId,jdbcType=INTEGER}, #{fdtScore,jdbcType=REAL}, #{fdtId,jdbcType=VARCHAR}, 
      #{tradeCount,jdbcType=INTEGER}, #{winCount,jdbcType=INTEGER}, #{maxDrawdown,jdbcType=REAL}, 
      #{sharpeRatio,jdbcType=REAL}, #{type,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, 
      #{accumulatedIncome,jdbcType=REAL}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.hkfdt.webserver.im.xiaot.model.ForceAnalysis" >
    insert into xiaot_force_analysis
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="forceId != null" >
        forceId,
      </if>
      <if test="fdtScore != null" >
        fdtScore,
      </if>
      <if test="fdtId != null" >
        fdtId,
      </if>
      <if test="tradeCount != null" >
        tradeCount,
      </if>
      <if test="winCount != null" >
        winCount,
      </if>
      <if test="maxDrawdown != null" >
        maxDrawdown,
      </if>
      <if test="sharpeRatio != null" >
        sharpeRatio,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="accumulatedIncome != null" >
        accumulatedIncome,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="forceId != null" >
        #{forceId,jdbcType=INTEGER},
      </if>
      <if test="fdtScore != null" >
        #{fdtScore,jdbcType=REAL},
      </if>
      <if test="fdtId != null" >
        #{fdtId,jdbcType=VARCHAR},
      </if>
      <if test="tradeCount != null" >
        #{tradeCount,jdbcType=INTEGER},
      </if>
      <if test="winCount != null" >
        #{winCount,jdbcType=INTEGER},
      </if>
      <if test="maxDrawdown != null" >
        #{maxDrawdown,jdbcType=REAL},
      </if>
      <if test="sharpeRatio != null" >
        #{sharpeRatio,jdbcType=REAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="accumulatedIncome != null" >
        #{accumulatedIncome,jdbcType=REAL},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hkfdt.webserver.im.xiaot.model.ForceAnalysis" >
    update xiaot_force_analysis
    <set >
      <if test="fdtScore != null" >
        fdtScore = #{fdtScore,jdbcType=REAL},
      </if>
      <if test="fdtId != null" >
        fdtId = #{fdtId,jdbcType=VARCHAR},
      </if>
      <if test="tradeCount != null" >
        tradeCount = #{tradeCount,jdbcType=INTEGER},
      </if>
      <if test="winCount != null" >
        winCount = #{winCount,jdbcType=INTEGER},
      </if>
      <if test="maxDrawdown != null" >
        maxDrawdown = #{maxDrawdown,jdbcType=REAL},
      </if>
      <if test="sharpeRatio != null" >
        sharpeRatio = #{sharpeRatio,jdbcType=REAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="accumulatedIncome != null" >
        accumulatedIncome = #{accumulatedIncome,jdbcType=REAL},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where forceId = #{forceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hkfdt.webserver.im.xiaot.model.ForceAnalysis" >
    update xiaot_force_analysis
    set fdtScore = #{fdtScore,jdbcType=REAL},
      fdtId = #{fdtId,jdbcType=VARCHAR},
      tradeCount = #{tradeCount,jdbcType=INTEGER},
      winCount = #{winCount,jdbcType=INTEGER},
      maxDrawdown = #{maxDrawdown,jdbcType=REAL},
      sharpeRatio = #{sharpeRatio,jdbcType=REAL},
      type = #{type,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=BIGINT},
      accumulatedIncome = #{accumulatedIncome,jdbcType=REAL},
      version = #{version,jdbcType=INTEGER}
    where forceId = #{forceId,jdbcType=INTEGER}
  </update>
</mapper>