<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hkfdt.webserver.im.xiaot.mapper.TQuestionsExtendsMapper">
	<resultMap id="BaseResultMap" type="cn.hkfdt.webserver.im.xiaot.model.TQuestions" >
		<id column="questionId" property="questionId" jdbcType="INTEGER" />
		<result column="exchangeCode" property="exchangeCode" jdbcType="VARCHAR" />
		<result column="shortSymbol" property="shortSymbol" jdbcType="VARCHAR" />
		<result column="tradeDay" property="tradeDay" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="topicType" property="topicType" jdbcType="VARCHAR" />
		<result column="initType" property="initType" jdbcType="INTEGER" />
		<result column="version" property="version" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="cn.hkfdt.webserver.im.xiaot.model.TQuestions" extends="BaseResultMap" >
		<result column="jsonData" property="jsonData" jdbcType="LONGVARBINARY" />
	</resultMap>
	<sql id="Base_Column_List" >
		questionId, exchangeCode, shortSymbol, tradeDay, createTime, type, topicType, initType,
		version
	</sql>
	<sql id="Blob_Column_List" >
		jsonData
	</sql>
	<select id="getByUnionKey" resultMap="ResultMapWithBLOBs" 
	 parameterType="cn.hkfdt.webserver.im.xiaot.model.TQuestions">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from xiaot_questions
		where exchangeCode = #{exchangeCode,jdbcType=VARCHAR} 
		 and shortSymbol = #{shortSymbol,jdbcType=VARCHAR} 
		 and tradeDay = #{tradeDay,jdbcType=VARCHAR} 
		 and initType =1
	</select>
	
	<select id="initTQuestions" resultMap="ResultMapWithBLOBs" 
	 parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from xiaot_questions
		where type = #{type,jdbcType=INTEGER} and initType =0
	</select>

</mapper>