<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hkfdt.webserver.im.xiaot.mapper.TRecordMapper" >
  <resultMap id="BaseResultMap" type="cn.hkfdt.webserver.im.xiaot.model.TRecord" >
    <id column="recordId" property="recordId" jdbcType="INTEGER" />
    <result column="symbol" property="symbol" jdbcType="VARCHAR" />
    <result column="fdtId" property="fdtId" jdbcType="VARCHAR" />
    <result column="tradeTime" property="tradeTime" jdbcType="VARCHAR" />
    <result column="returnRate" property="returnRate" jdbcType="REAL" />
    <result column="volatility" property="volatility" jdbcType="REAL" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="BIGINT" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="questionKey" property="questionKey" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.hkfdt.webserver.im.xiaot.model.TRecord" extends="BaseResultMap" >
    <result column="actions" property="actions" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    recordId, symbol, fdtId, tradeTime, returnRate, volatility, type, createTime, score, 
    questionKey, version
  </sql>
  <sql id="Blob_Column_List" >
    actions
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xiaot_record
    where recordId = #{recordId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xiaot_record
    where recordId = #{recordId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.hkfdt.webserver.im.xiaot.model.TRecord" >
    insert into xiaot_record (recordId, symbol, fdtId, 
      tradeTime, returnRate, volatility, 
      type, createTime, score, 
      questionKey, version, actions
      )
    values (#{recordId,jdbcType=INTEGER}, #{symbol,jdbcType=VARCHAR}, #{fdtId,jdbcType=VARCHAR}, 
      #{tradeTime,jdbcType=VARCHAR}, #{returnRate,jdbcType=REAL}, #{volatility,jdbcType=REAL}, 
      #{type,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, #{score,jdbcType=DOUBLE}, 
      #{questionKey,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, #{actions,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.hkfdt.webserver.im.xiaot.model.TRecord" >
    insert into xiaot_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        recordId,
      </if>
      <if test="symbol != null" >
        symbol,
      </if>
      <if test="fdtId != null" >
        fdtId,
      </if>
      <if test="tradeTime != null" >
        tradeTime,
      </if>
      <if test="returnRate != null" >
        returnRate,
      </if>
      <if test="volatility != null" >
        volatility,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="questionKey != null" >
        questionKey,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="actions != null" >
        actions,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=INTEGER},
      </if>
      <if test="symbol != null" >
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="fdtId != null" >
        #{fdtId,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null" >
        #{tradeTime,jdbcType=VARCHAR},
      </if>
      <if test="returnRate != null" >
        #{returnRate,jdbcType=REAL},
      </if>
      <if test="volatility != null" >
        #{volatility,jdbcType=REAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="questionKey != null" >
        #{questionKey,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="actions != null" >
        #{actions,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hkfdt.webserver.im.xiaot.model.TRecord" >
    update xiaot_record
    <set >
      <if test="symbol != null" >
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="fdtId != null" >
        fdtId = #{fdtId,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null" >
        tradeTime = #{tradeTime,jdbcType=VARCHAR},
      </if>
      <if test="returnRate != null" >
        returnRate = #{returnRate,jdbcType=REAL},
      </if>
      <if test="volatility != null" >
        volatility = #{volatility,jdbcType=REAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="questionKey != null" >
        questionKey = #{questionKey,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="actions != null" >
        actions = #{actions,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where recordId = #{recordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.hkfdt.webserver.im.xiaot.model.TRecord" >
    update xiaot_record
    set symbol = #{symbol,jdbcType=VARCHAR},
      fdtId = #{fdtId,jdbcType=VARCHAR},
      tradeTime = #{tradeTime,jdbcType=VARCHAR},
      returnRate = #{returnRate,jdbcType=REAL},
      volatility = #{volatility,jdbcType=REAL},
      type = #{type,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=BIGINT},
      score = #{score,jdbcType=DOUBLE},
      questionKey = #{questionKey,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      actions = #{actions,jdbcType=LONGVARCHAR}
    where recordId = #{recordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hkfdt.webserver.im.xiaot.model.TRecord" >
    update xiaot_record
    set symbol = #{symbol,jdbcType=VARCHAR},
      fdtId = #{fdtId,jdbcType=VARCHAR},
      tradeTime = #{tradeTime,jdbcType=VARCHAR},
      returnRate = #{returnRate,jdbcType=REAL},
      volatility = #{volatility,jdbcType=REAL},
      type = #{type,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=BIGINT},
      score = #{score,jdbcType=DOUBLE},
      questionKey = #{questionKey,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER}
    where recordId = #{recordId,jdbcType=INTEGER}
  </update>
</mapper>